/* CSS files add styling rules to your content */

.butt {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
p {
  text-align: center;
  font-size: 50px;
  margin: 0px;
}

#container {
  position: relative;
  height: auto;
}

#timer {
  position: relative;
  opacity: 0;
  bottom: 65px;
  transition: all 0.2s;

  margin: 0px 0px 0px 0px;
  text-align: center;
  font-size: 50px;
}
#clock {
  display: flex;
}

#clock-multiplier{
  width:36%;
  margin:0;
}
.clock-buttons {
  font-size: 30px;
  margin: 0;
  outline: none;
  background: transparent;
}
.clock-buttons:active {
  border: none;

  background-color: #e5ffe5;
}
body {
  position: relative;
  margin: 0px;
  height: 100%;
  overflow: hidden;
}
#score-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.button-add:hover {
  background: black;
  color: white;
}
.button-add {
  background: transparent;
  font-size: 40px;
  height: 50%;
  text-align: center;
  transition: all 0.2s;
  margin: auto 10px;
  /* display: flex; */
  /* margin: auto; */
  width: 100%;
  /* display: flex;*/
}


.tabs:hover {
  background: #c3e3ff;
}
#tab-bar {
  transform: translate(0, -100%);
  position: absolute;
  right: 0;
}
:fullscreen::backdrop {
  background-color: white; /* dark blue */
}

#error {
  display: none;
  background: #ec7373cc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  color: white;
  font-size: 50px;
  justify-content: center;
  
  transition: all 0.2s;
}
.view{
  opacity: 0;
  transition: .3s all;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  background: white;
}
#loading-screen{
  justify-content: center;
  display: flex;
  opacity: 1;
  z-index: 20;
  align-items: center;
  text-align: center;
}

.loading_anim {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: auto;
  border: solid 4px lightgray;
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  animation: rotate 600ms infinite linear;
  border-radius: 50%;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}